*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	min-height: 96vh;
	background-color: #CCF2F7;
}
.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}
a{
	text-decoration:none; 
}

/* APP */
.container_app{
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.container_infos{
  width: 100%;
  height: 100%;
  background-color: #0acae2;
}
/* APP */

/* HEADER */
.container_header{
	width: 100%;
	height: 70px;
	background-color: #00BCD4;
}
.container_header-elementos{
	width: 100%;
	height: 100%;
	display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}
.container_header-itens{
	width: 35%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 12px;
}
.header_itens{
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.header_itens-img{
	width: 15%;
	height: 30%;
}
.a_header{
	color: #00717F;
}
/* HEADER */

/* MENU NAVBAR*/
.container_navbar {
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color:#00BCD4;
} 
.navbar{
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #F6F6F6;
	position: fixed;
	top: 0;
	left: 0;
}
aside{
	width: 100%;
	height: 60%;
	border-bottom: 3px solid #e4e4e4;
}
.container_navbar-links{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 15px;
}
.container_navbar-img{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(#00717F, #00BCD4);
}
.logolowitIMG{
  width: 25%;
  height: 60%;
}
.nav_link{
	width: 60%;
	/* height: 100%; */
	display: flex;
	/* justify-content: center; */
	align-items: center;
	color:#000;
}
.nav_link:hover{
	color:#00717F;
}
.nav_link-label1{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.nav_link-label1:before{
	content:url('../Assets/dashpqn.png');
}
.nav_link-label1:hover::before{
	content:url('../Assets/dashpqnhover.png');
}
.nav_link-label2{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.nav_link-label2:before{
	content:url('../Assets/dashpqn2.png');
}
.nav_link-label2:hover::before{
	content:url('../Assets/dashpqnhover.png');
}
.nav_link-img{
	width: 25%;
	height: 30%;
}
.navbar_links-lista{
	display: flex;
	width: 100%;
	height: 50%;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
}
.container_buttons{
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
} 
.btns_menu{
	width: 50px;
	height: 25px;
	border: none;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
/* MENU NAVBAR*/

/* LEITURA */
.container_leitura{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
/* .container_leitura-elementos{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
} */
.container_leitura-itens{
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.container_leitura-titulo{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: #93DEE8;
}
.container_leitura-paragrafo{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  font-size: 60px;
  color: #00717F;
}
/* LEITURA */

/* DASHBOARD */
.container_dashboard{
	width: 100%;
	height: 40vh;
  display: flex;
  flex-direction: column;
  background-color: #00717F;
}
.container_dashboard-tabela{
  width: 100%;
  height: 100%;
  display: flex;
}
.container_tabela-cabecalho{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
.container_dashboard-conteudo{
  width: 100%;
  height: 100%;
  display: flex;
  background-color:#00BCD4;
}
.container_dashboard-tabeladispositivos{
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tabela_dispositivos-itens{
  width: 100%;
  height: 15%;
}
.container_btns{
	width: 35%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.btnOnOff{
  width: 60px;
  height: 30px;
  border: none;
}
/* DASHBOARD */

/* FORMSELECTDASH */
.container_formselectdash{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* FORMSELECTDASH */

/* DISPOSITIVOS DASHBOARD */
.container_dispositivos{
  display: flex;
  width: 80%;
  height: 100%;
}
.container_dispositivos-blocos{
	width: 100%;
  height: 15%;
  display: flex;
}
.dispositivos_blocos{
  display: flex;
}
.input_dispositivos{
	width: 100%;
	height: 100%;
}
/* DISPOSITIVOS DASHBOARD */

/* DADOS */
.container_dados{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
	text-align: center;
	font-size: 15px;
}
.container_dados-row{
	width: 100%;
	height: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.container_dados-titulo{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: #93DEE8;
}
.container_dados-itens{
  width: 55%;
  height: 40%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.container_dados-paragrafo{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* DADOS */