*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	min-height: 96vh;
	background-color: #CCF2F7;
}
.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}
a{
	text-decoration:none; 
}

/* APP */
.container_app{
  width: 86%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
@media(max-width: 640px){
	.container_app{
		width: 100%;
		height: 100%;
	}
}
/* APP */

.nomatch{
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #00717F;
	font-size: 25px;
}
@media(max-width: 640px){
	.nomatch{
		margin-top: 10rem;
	}
}

/* graphic */
.container_graphics{
  width: 98%;
	height: 85%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
@media(max-width: 640px){
	.container_graphics{
		width: 100%;
		height: 100%;
	}
}
@media(max-width: 768px){
	.container_graphics{
		min-height: 85%;
	}
}
.graphic{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media(max-width: 640px){
  .graphic{
    height: 26vh;
  }
}
@media(max-width: 768px){
  .graphic{
    display: flex;
  }
}
/* GRAFICOS */

/* DASH DEMANDA CONTRATADA E ATUAL */
.container_graphic-info--items{
	width: 90%;
	height: 26%;
	display: flex;
	align-self: center;
	flex-direction: column;
	border-radius: 10px;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}
@media(max-width: 640px){
	.container_graphic-info--items{
		width: 85%;
		height: 20%;
	}
}
.container_graphic-info--title{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 12px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #93DEE8;
} 
.container_graphic-info--paragraph{
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: nowrap;
	font-size: 18px;
	color: #00717F;
}
@media(max-width: 640px){
  .container_graphic-info--title{
    height: 40%;
    font-size: 13px;
	}
	.container_graphic-info--paragraph{
    height: 60%;
		font-size: 25px;
	}
}
@media(max-width: 768px){
	.container_graphic-info--title{
		font-size: 11px;
	}
  .container_graphic-info--paragraph{
    font-size: 16px;
  }
}
.variation_graphic-info--items{
	width: 90%;
	height: 42%;
}
/* DEMANDA CONTRATADA E ATUAL */

/* TABELA DISPOSITIVOS */
/* .container_tabela-dispositivos{
  width: 100%;
  height: 50%;
} */
/* .container_table-devices{
	width: 95%;
	height: 82vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media(max-width: 640px){
	.container_table-devices{
		padding: 15px;
		height: 100%;
	}
}
@media(max-width: 768px){
	.container_table-devices{
		padding: 7px;
		height: 100%;
	}
} */
.table_devices-title{
  width: 100%;
  text-align: center;
  font-size: 13px;
  background-color: #57B6C2;
  border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
@media(max-width: 640px){
	.table_devices-title{
		height: 13%;
		display: flex;
		justify-content: center;
    align-items: center;
    font-size: 15px;
	}
} 
@media(max-width: 768px){
  .table_devices-title{
    font-size: 11px;
	} 
	/* .tabela_dispositivos-titulo-consumo{
		font-size: 10px;
	} */
}
/* TABELA DISPOSITIVOS */

/* GRAFICO */
.container_buttonsGrafico{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.container_buttons{
	width: 39%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
@media(max-width: 640px){
	.container_buttons{
		width: 70% !important;
		justify-content: space-around;
	}
}
@media(max-width: 768px){
  .container_buttons{
    width: 55%;
  }
}
@media(max-width: 1024px){
	.container_buttons{
		width: 50%;
		justify-content: space-evenly;
	}
}
.btns{
	width: 58px;
	height: 20px;
	border: none;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
	background-color: #F8F8F8;
	font-family: 'Roboto', sans-serif;
}
@media(max-width: 768px){
  .btns{
		width: 44px;
		font-size: 11px;
	}
}
.btns:hover {
	background-color: #CCF2F7;
}
/* GRAFICO */

/*FILTER*/
.filter{
  width: 100%;
  height: 100%;
	overflow-y: scroll;
}
.filter::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.10);
	border-radius: 7px;
	background-color: #93DEE8;
}
.filter::-webkit-scrollbar{
	width: 6px;
	background-color: #fff;
}
/*FILTER*/
