*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	min-height: 96vh;
	background-color: #CCF2F7;
}
.container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}
a{
	text-decoration:none; 
}

/* APP */
.container_app{
  width: 87%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
@media(max-width: 640px){
	.container_app{
		width: 100%;
		height: 100%;
	}
}
.container_infos{
  width: 100%;
  height: 100%;
  background-color: #0acae2;
}
/* APP */

/* HEADER */
.container_header{
	width: 100%;
	height: 70px;
	background-color: #00BCD4;
}
.container_header-conteudo{
	width: 100%;
	height: 100%;
	display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}
/* @media(max-width: 640px){
	.container_header-elementos{
		display: none;
	}
} */
.container_header-itens{
	width: 35%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 12px;
}
.header_itens{
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.header_itens-img{
	width: 15%;
	height: 30%;
}
.a_header{
	color: #00717F;
}
/* HEADER */

/* MENU NAVBAR*/
.container_navbar {
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	background-color:#00BCD4;
} 
.navbar{
	width: 13%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #F6F6F6;
	position: fixed;
	top: 0;
	left: 0;
}
/* @media(max-width: 640px){
	.navbar{
		display: none;
	}
} */
aside{
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #e4e4e4;
}
.container_navbar-links{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 15px;
}
.container_navbar-img{
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(#00717F, #00BCD4);
}
.logolowitIMG{
  width: 23%;
  height: 60%;
}
.nav_link{
	width: 85%;
	/* width: 60%; */
	/* height: 100%; */
	display: flex;
	/* justify-content: center; */
	align-items: center;
	color:#000;
}
.nav_link:hover{
	color:#00717F;
}
.nav_link-label1{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.nav_link-label1:before{
	content:url('../Assets/dashpqn.png');
}
.nav_link-label1:hover::before{
	content:url('../Assets/dashpqnhover.png');
}
.nav_link-label2{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.nav_link-label2:before{
	content:url('../Assets/dashpqn2.png');
}
.nav_link-label2:hover::before{
	content:url('../Assets/dashpqnhover.png');
}
.nav_link-img{
	width: 23%;
	height: 30%;
}
.navbar_links-lista{
	display: flex;
	width: 100%;
	height: 30%;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
}
/* MENU NAVBAR*/

/* LEITURA */
.container_leitura{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
@media(max-width: 640px){
	.container_leitura{
		display: flex;
		width: 100%;
		height: 80vh;
		justify-content: space-around;
		flex-direction: column;
	}
}

/* LEITURA */

/* DASHBOARD */
.container_dashboard{
	width: 100%;
  height: 100%;
  display: flex;
	padding: 10px;
}
.container_dashboard-consumoedemanda{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container_dashboard-consumo{
	width: 100%;
  height: 60%;
  display: flex;
  background-color: #00717F;
  border-radius: 10px;
}
.container_tabela{
  width: 17%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container_tabela-itens{
	width: 100%;
	height: 100%;
	display: flex;
  flex-direction: column;
  border-radius: 10px;
	background-color: #fff;
  }
@media(max-width: 640px){
  .container_tabela-itens{
    width: 90%;
    height: 25%;
    display: flex;
  }
}
.container_tabela-titulo{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #93DEE8;
}
@media(max-width: 640px){
  .container_tabela-titulo{
    height: 30%;
  }
}
.container_tabela-paragrafo{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  font-size: 40px;
  color: #00717F;
}
@media(max-width: 640px){
  .container_tabela-paragrafo{
    font-size: 50px;
  }
}
.container_tabelaDispositivos-consumo{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00717F;
  border-radius: 10px;
}
.container_tabela-dispositivos{
  width: 100%;
  height: 50%;
}
.container_dashboard-demanda{
  width: 100%;
  height: 40%;
  display: flex;
  background-color: #00717F;
  border-radius: 10px;
}
.container_tabelaDispositivos{
  width: 20%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00717F;
  border-radius: 10px;
}
.tabela_dispositivos{
  width: 90%;
	height: 95%;
  display: flex;
	flex-direction: column;
  background-color: #F8F8F8;
  border-radius: 10px;
  border-bottom: 10px solid #57B6C2;
}
.tabela_dispositivos-titulo{
  width: 100%;
  text-align: center;
  font-size: 15px;
  background-color: #57B6C2;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.container_grafico{
  width: 83%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #57B6C2;
}
.container_buttonsGrafico{
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.buttonsGrafico{
	width: 48%;
	height: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
} 
.btns{
	width: 60px;
	height: 20px;
	border: none;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
.input_grafico{
  background-color: #F8F8F8;
  border-radius: 9px;
  outline: none;
}
/* DASHBOARD */

/* FORMSELECTDASH */
.container_formSelectDashboard{
	width: 100%;
	height: 50%;
	display: flex;
  flex-direction: column;
  border: 3px solid;
}
.container_formSelectDashboard-label{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.formSelectDashboard-select{
	width: 100%;
	height: 4vh;
	/* border: none; */
	border-radius: 5px;
	background-color: #F8F8F8;
}
/* FORMSELECTDASH */

/* DISPOSITIVOS DASHBOARD */
.container_dispositivos{
  display: flex;
  width: 83%;
	height: 100%;
	overflow-y: scroll;
}
.container_dispositivos-blocos{
	width: 100%;
  height: 20%;
  display: flex;
}
.dispositivos_blocos{
	width: 100%;
  display: flex;
}
.input_dispositivos{
	width: 100%;
	height: 100%;
	border-radius: 9px;
}
/* DISPOSITIVOS DASHBOARD */

/* DADOS */
.container_dados{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
	text-align: center;
	font-size: 15px;
}
@media(max-width: 640px){
	.container_dados{
		width: 100%;
		height: 85vh;
		display: flex;
		flex-direction: column;
	}
}
.container_dados-row{
	width: 100%;
	height: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
@media(max-width: 640px){
	.container_dados-row{
		width: 100%;
		height: 100%;
		justify-content: space-around;
	}
}
.container_dados-titulo{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: #93DEE8;
}
.container_dados-itens{
  width: 55%;
  height: 40%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.container_dados-paragrafo{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}
/* @media(max-width: 640px){
	.container_dados-paragrafo{
		font-size: 15px;
	}
} */
/* DADOS */

/* GRAPHIC DASHBOARD */
.container_graphicDashboard{
	margin: 30px 0 0 0;
	width: 100%;
	height: 100%;
	background-color: #F8F8F8;
}
/* .chartjs-render-monitor{
	width: 80vw !important;
	height: 50vh !important;
} */
/* canvas {
	width: 100% !important;
	height: 30% !important;
} */

/* GRAPHIC DASHBOARD */

.TreeExample{
  width: 100%;
  height: 100%;
  background-color: red;
}