.container_grafico-demanda{
	padding: 4px;
	width: 98%;
  height: 44%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #00717F;
}
@media(max-width: 640px){
	.container_grafico-demanda{
		display: none;
	}
}
.container_buttons-grafico--demanda{
	padding: 5px 0 0;
	width: 99.5%;
	height: 10%;
	display: flex;
	justify-content: flex-end;
}
.variacao_btns-demanda{
	width: 30%;
}
@media(max-width: 768px){
  .variacao_btns-demanda{
    width: 41%  !important; 
  }
  .container_grafico-demanda--info{
    min-width: 24%;
  }
}
@media(max-width: 1024px){
	.variacao_btns-demanda{
		width: 38%;
		justify-content: space-evenly;
	}
}
.container_demanda-conteudo{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.container_grafico-demanda--info{
	width: 19%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}