.container_consumption{
	width: 98%;
  height: 52%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
  background-color: #F6F6F6;
}
.container_consumption-content{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.container_consumption-info{
  width: 19%;
  height: 90%;
	display: flex;
	justify-content: space-between;
  flex-direction: column;
}
@media(max-width: 640px){
	.container_consumption{
		width: 100%;
		height: 100%;
		justify-content: space-around;
		flex-direction: column;
	}
	.container_consumption-content{
		flex-direction: column;
	}
  .container_consumption-info{
		width: 90% !important;
		height: 80vh !important;
		justify-content: space-around;
		flex-direction: column-reverse;
	}
}
@media(max-width: 768px){
	.container_consumption-content{
		justify-content: space-evenly;
	}
  .container_consumption-info{
		width: 20%;
  }
}