.container_graphic-demand{
	padding: 4px;
	width: 98%;
  height: 44%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #F6F6F6;
}
@media(max-width: 640px){
	.container_graphic-demand{
		margin-top: 2rem;
    padding: 5px 0;
    width: 100%;
		height: 65vh;
	}
}
.container_graphic-demand-content{
	width: 80%;
	height: 95%;
	border: 1px solid #707070;
	border-radius: 10px;
	background-color: #F6F6F6;
}
@media(max-width: 640px){
  .container_graphic-demand-content{
    width: 90% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media(max-width: 768px){
	.container_graphic-demand-content{
		width: 75%;
	}
}
.container_graphic-demand--buttons{
	width: 98.7%;
	height: 15%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.container_buttons-mobile{
	display: none;
}
@media(max-width: 640px){
	.container_buttons-mobile{
		width: 100%;
		height: 20%;
		display: flex;
	}
}
.container_demand-content{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
@media(max-width: 768px){
	.container_demand-content{
		justify-content: space-evenly;
	}
}
.variation_btns-demand{
	width: 39%;
}
.container_graphic-demand--info{
	width: 19%;
	height: 95%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
@media(max-width: 640px){
	.variation_btns-demand{
		width: 90% !important;
	}
	.container_demand-content{
		display: flex;
    flex-direction: column;
	}
  .container_graphic-demand--buttons{
    width: 100%;
    height: 13%;
    justify-content: center;
	}
	.container_graphic-demand--info{
		width: 90% !important;
		height: 100%;
		margin-bottom: 20px;
	}
}
@media(max-width: 768px){
	.variation_btns-demand{
		width: 45%;
	}
  .container_graphic-demand--info{
    width: 20%;
	}
}
@media(max-width: 990px){
	.container_graphic-demand--buttons{
		margin: 3px 0;
	}
}
