.container_graficoDemanda{
	padding: 5px;
  width: 81%;
  height: 98%;
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
}
.container_grafico-conteudoDemanda{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.grafico_demanda{
  width: 100%;
  height: 100%; 
	display: flex; 
	justify-content: center;
  align-items: center; 
  flex-direction: column; 
  background-color: #fff;
  border-radius: 8px; 
}
@media(max-width: 768px){
  .container_graficoDemanda{
    min-width: 76%;
  }
	.grafico_demanda{
		min-width: 97%;
		min-height: 97%;
	}
}