.container_graficoConsumo{
	padding: 5px;
	width: 79%;
	height: 90%;
	border-radius: 10px;
	background-color: #57B6C2;
}
@media(max-width: 768px){
  .container_graficoConsumo{
    width: 73%;
    background-color: #00BCD4;
  }
}
@media(max-width: 640px){
	.container_graficoConsumo{
		padding: 5px 0;
		width: 100%;
		height: 34vh;
	}
}
.container_buttonsGrafico-consumo{
  width: 97%;	
  height: 13%;
  display: flex;
	justify-content: space-between;
	align-items: center;
}
@media(max-width: 640px){
	.container_buttonsGrafico-consumo{
		height: 15%;
		display: flex;
		justify-content: center;
	}
}
.grafico_consumo{
  width: 97%;
  height: 97%; 
	display: flex; 
	justify-content: center;
  align-items: center; 
  flex-direction: column; 
  background-color: #fff;
  border-radius: 8px; 
}
@media(max-width: 640px){
  .grafico_consumo{
    width: 100%;
    height: 100%;
    justify-content: center;
  }
}
@media(max-width: 768px){
	.grafico_consumo{
		min-width: 97%;
		min-height: 97%;
	}
}